*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
.vscode
coverage
node_modules
npm-debug.log
memorydata.json
package-lock.json
platformDB.shadow.json
datasources.development.json
constant.local.js
